{% if messages %}
    {% for msg in messages %}
        {% if msg.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation"></i>&nbsp;&nbsp;{{ msg | safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                </button>
            </div>
        {% elif msg.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fa fa-check-square"></i>&nbsp;&nbsp;{{ msg | safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                </button>
            </div>
        {% elif msg.tags == "info" %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <i class="fa fa-info-circle"></i>&nbsp;&nbsp;{{ msg | safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                </button>
            </div>
        {% elif msg.tags == "warning" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;{{ msg | safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                </button>
            </div>
        {% else %}
            <div class="alert alert-{{ msg.tags }} alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;{{ msg | safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                </button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}<br>